
.skmain{
    height: 90vh;
    width: 100%;
    background-color: #EFEFEF;
    color: #04152D;
}
.sky{
        height: 14vh;
        width: 100%;
        font-size: 80px;
        font-weight: 900;
        font-family: Acme;
        display: flex;
        align-items: center;
        justify-content: center;
      
}
.skillhead{
    display: flex;
    justify-content: center;
 
}
.fe,.be,.db{
    background-color: yellowgreen;
    cursor: pointer;
    font-family: Quicksand;
    height: 9vh;
    width: 10%;
    margin: 5% 2% 1% 2%;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    font-size: large;
    position: relative;
    z-index: 1;
    transition: all 0.3s linear;
   overflow: hidden;
}


.fe:hover, .be:hover, .db:hover {
  background-color: rgb(84, 2, 84);
  color: aliceblue;
  transition: all 0.3s ease-in-out;
}


.backprogramming,
.dbprogramming,
.programming{
    background-color: rgb(84, 2, 84);
    height: calc(90vh - 49vh);
    margin: 2% 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
  }
  .hidden {
    display: none;
  }
  .imgc{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    background-color: #EFEFEF;
    display: flex;
    justify-content: center;
}
.ango{
     max-height: 100%;
    margin-top: 10%;
    width: 80%;
 }
 .js{
    max-height: 100%;
    margin-top: 10%;
    width: 80%;
    border-radius: 50%;
 }
.anjs{
  background-color: chocolate;
  border-radius: 50%;
}
.react{
  width: 100px;
}
    @media (max-width: 768px) {
        .skmain{
           min-height: 100vh;
         }
        .sky{
             height: 14%;
            width: 100%;
            font-size: 80px;
            font-weight: 900;
            font-family: Acme;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 5%;
          
    }
    .skillhead{
        display: flex;
        flex-direction: column;
        justify-content: center;
     
    }
    .fe,.be,.db{
        background-color: yellowgreen;
        cursor: pointer;
        font-family: Quicksand;
        height: auto;
        padding: 20px 0;
        width: 80%;
        margin: 5% auto;
        border-radius: 24px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-weight: bold;
        font-size: large;
    }
    
    .backprogramming,
    .dbprogramming,
    .programming{
        margin-top: 5%;
        background-color: rgb(84, 2, 84);
        height: auto;
        gap: 1.5em;
        margin: 2% 20;
         flex-wrap: wrap;
         border-radius: 30px;
        margin-bottom: 20px;
        padding: 20px;
      }
      .hidden {
        display: none;
      }
      .imgc{
        height: 50px;
        width: 50px;
        padding: 1px 0;
        border-radius: 10%;
        background-color: #EFEFEF;
        
        
    }
    .ango{
         max-height: 100%;
        margin-top: 10%;
        width: 80%;
     }
     .js{
        max-height: 100%;
        margin-top: 10%;
        width: 80%;
        border-radius: 50%;
      }
    
     .anjs{
        background-color: chocolate;
        border-radius: 10%;

     }
       }